<div class="col-md-4 job-box">
  <h2>Dice.com results:</h2><hr>
  <% @dice.each do |d| %>
  Company: <%= d["company"] %>, <%= d["location"]  %>
  Job Title: <%= link_to d["jobTitle"], d["detailUrl"] %>
  Posted <%= time_ago_in_words(d["date"]) %> ago
  <hr>
  <% end %>
</div>
