<div class="job-box pre-scrollable panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Github.com results:</h2>
  </div>
  <div class="panel-body">
    <% if @github.any? %>
      <% @github.each do |g| %>
      Company: <%= g["company"] %>, <%= g["location"]  %><br>
      Job Title: <%= link_to g["title"], g["url"] %>
      <hr>
      <% end %>
    <% else %>
      <p>
        There are no results.
      </p>
    <% end %>
  </div>
</div>
