<div class="job-box pre-scrollable panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title">Glassdoor.com results:</h2>
  </div>
  <div class="panel-body">
    <% @glassdoor.each do |g| %>
    Location: <%= g["name"] + ' - ' %>
    Job Postings: <%= link_to g["numJobs"], "https://www.glassdoor.com/Job/jobs.htm?typedKeyword=" + @query + "&sc.keyword=" + @query + "&locT=C&locId=" + g['id'].to_s %>
    <hr>
    <% end %>
  </div>
</div>
