<div class="col-md-4 job-box pre-scrollable">
  <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a><hr>
  <% @glassdoor.each do |g| %>
  Location: <%= g["name"] %>
  Job Postings: <%= link_to g["numJobs"], "https://www.glassdoor.com/Job/jobs.htm?typedKeyword=" + @query + "&sc.keyword=" + @query + "&locT=C&locId=" + g['id'].to_s %>
  <hr>
  <% end %>
</div>
