<ul class="nav nav-pills">
  <li id="dice"><a><%= link_to "Dice", search_path(dice: true, query: @query, city: @city, state: @state), remote: true, class: 'btn btn-primary' %></a></li>
  <li id="github"><a><%= link_to "Github", search_path(github: true, query: @query, city: @city, state: @state), remote: true, class: 'btn btn-default' %></a></li>
  <li id="glassdoor"><a><%= link_to "Glassdoor", search_path(glassdoor: true, query: @query, city: @city, state: @state), remote: true, class: 'btn btn-warning' %></a></li>
  <li id="indeed"><a><%= link_to "Indeed", search_path(indeed: true, query: @query, city: @city, state: @state), remote: true, class: 'btn btn-info' %></a></li>
</ul>
<div class="row job-section">

</div>
